<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

    <div class="w-full h-screen grid grid-rows-[85px_auto]">
        
        <div class=" w-full grid grid-cols-2">  

            <div class="text-3xl p-8 px-15 font-bold text-black-900">Scatch</div>

            <div class=""></div>
             
        </div>
        
        <div class="w-full grid grid-cols-2 text-lg">
            
            <div class="flex w-full flex-col gap-5 p-25 pt-20 py-40">

                <div class="">
                    <div class="text-3xl gap-sm">welcome to <span class="font-bold text-4xl text-blue-400">Scatch</span></div>
                    <div class="tracking-tighter">create your account</div>
                </div>

                <form class="flex flex-col gap-2 items-start" action="/users/create" method="post">
                    <input class="w-full text-sm outline-blue-600 p-1 px-3 text-md rounded-md bg-zinc-100 border-2 border-zinc-200" type="text" placeholder="Full Name" name="fullname">
                    <input class="w-full text-sm outline-blue-600 p-1 px-3 text-md rounded-md bg-zinc-100 border-2 border-zinc-200" type="email" placeholder="Email" name="email">
                    <input class="w-full text-sm outline-blue-600 p-1 px-3 text-md rounded-md bg-zinc-100 border-2 border-zinc-200" type="password" placeholder="Password" name="password">
                    <input class="mt-5 bg-blue-600 text-white tracking-tighter text-sm rounded-3xl p-2 px-3" type="submit" value="Create My Account">
                </form>

            </div>

            <div class=" flex w-full flex-col justify-center items-center p-30">

                <div class="w-full flex flex-col gap-4 mb-35">

                    <div class="">
                        <div class="text-2xl">Login Your Account</div>
                    </div>
                    
                    <form class="flex flex-col gap-2 text-zinc-900 items-start" action="/users/login" method="post">
                        <input class="w-full outline-blue-600 text-sm p-1 px-3 text-md rounded-md bg-zinc-100 border-2 border-zinc-200" type="email" placeholder="Email" name="email">
                        <input class="w-full outline-blue-600 text-sm p-1 px-3 text-md rounded-md bg-zinc-100 border-2 border-zinc-200" type="password" placeholder="Password" name="password">
                        <input class="mt-2 bg-blue-600 text-white tracking-tighter text-sm rounded-3xl p-2 px-3" type="submit" value="Login">
                    </form>
                    
                </div>

            </div>

        </div>

    </div>

</body>
</html>